@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');
* {
    font-family: 'Montserrat', serif;
}

:root {
    --primary_green: #00B761;
    --primary_orange: #FF9330;
    --primary_gray: #686874;
    --light-gray: #C8C8D5;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background: white;
}

.heading {
    padding: 10px 20px;
}

.img-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.icon-list-group {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.content {
    display: flex;
}

.icon {
    margin-right: 10px;
}

.left-row {
    height: fit-content;
    padding: 30px 40px;
    margin: 10px 20px;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.right-row {
    padding: 20px 40px;
    margin: -10px 0px;
    
    clear: right;
    width: 100%;
    border-radius: 10px;
}
.profile-infor{
    margin-bottom: 15px;
}
.profile-infor:hover a{
    color: #00B761;
}

.tab-content {
    padding: 30px 30px;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    margin-bottom: 15px;
    color: #00B761;
}

.card-password {
    margin-top: 20px;
    padding: 20px 20px;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.myaccount-page img {
    margin-right: 10px;
}

.icon-edit-profile {
    width: 10px;
    height: 10px;
}

.profile-infor-overview td {
    padding: 10px 0px;
    width: 300px;
}

.list-group-item {
    vertical-align: middle;
    padding: 0px 20px;
    margin: 0px;
    width: 250px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    border-radius: 0px;
    cursor: pointer;
    
}

.list-group-item:hover a {
    color: #00B761;
}

.profile-name {
    color: #00B761;
    font-size: 18px;
}

.form-group {
    padding: 10px 20px;
}

.card-body {
    padding: 10px 20px;
}

.list-group-item:hover a {
    color: #00B761;
}

.form-group {
    padding: 10px 20px;
}

.card-body {
    padding: 10px 20px;
}

.container input {
    border-color: rgb(241, 233, 233);
    width: 90%;
    height: 35px;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 00px;
}

.form-group input {
    border-color: rgb(241, 233, 233);
    width: 500px;
    height: 35px;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0px;
}

.container button {
    background: #00B761;
    border-color: #ddd;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    outline: 0;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 200px;
    align-self: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.container button:hover {
    opacity: 80%;
}

.password-body {
    margin-top: 30px;
    padding-top: 30px;
}
.txtforgotpass{
    text-align: right;
    font-weight: normal;
    width: 500px;
}
.txtforgotpass:hover a{
    color: #00B761;
}
.line{
    text-decoration: none;
    border-radius: 5px;
    border: 0.01px solid rgb(204, 201, 201);
}
.line1{
    text-decoration: none;
    border-radius: 5px;
    border: 0.1px solid #00B761;
}